@using GeoLocation.Model;
@using Humanizer;
@model EventDetailsViewModel

@{
        var base64 = Convert.ToBase64String(Model.Image.ImageFile);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<div class="imageContainer" style="background-image: url(@imgSrc);">
    <div class="imageOverlay">
        <div class="category">@Model.EventCategory.Name—@Model.EventSubCategory.Name</div>
        <div class="title">@Model.Event.Name</div>
        <div class="description">@Model.Event.Description</div>
    </div>
</div>

<div class="timebox">
    <div class="start">
        <div class="timeInscription">Počinje</div>
        <div class="date">@Model.Event.StartDate.ToString("dd/MM/yyyy")</div>
        <div class="time">@Model.Event.StartDate.ToString("HH:mm") sati</div>
    </div>
    <div class="end">
        <div class="timeInscription">Završava</div>
        <div class="date">@Model.Event.EndDate.ToString("dd/MM/yyyy")</div>
        <div class="time">@Model.Event.EndDate.ToString("HH:mm") sati</div>
    </div>
    <div class="vl"></div>
</div>

<div class="rsvp">
    RSVP
</div>

<br /><br />
<h3>@Model.Venue.Name</h3>
<div>
    <ul>
        <li>@Model.Venue.Description</li>
        <li>@Model.Venue.Address</li>
        <li>@Model.Venue.Phone</li>
        <li>@Model.Venue.Email</li>
    </ul>
</div>

<h4>@Model.EventCategory.Name, @Model.EventSubCategory.Name</h4>
<hr />

<h4>Sign up for this event:</h4>
@await Html.PartialAsync("RsvpPartial", Model.Rsvp)

@if (Model.UserLimitReached)
{
    <div>Sorry, the attendance limit on this event is reached.</div>
}
<hr />

<h4>Comments</h4>
@if (Model.Comments.Count() == 0)
{
    <p>There are no comments for this event.</p>
}
else
{
    @foreach (var comment in Model.Comments)
    {
        <p>
            <strong>@comment.FirstName @comment.LastName</strong>, @comment.DateCreated.Humanize(utcDate: false)<br />
            <i>@comment.Text</i>
        </p>
    }
}

<hr />
@await Html.PartialAsync("AddCommentPartial", Model.NewComment)