@using GeoLocation.Model;
@using Humanizer;
@model EventDetailsViewModel

<h2>@Model.Event.Name</h2>
<h4>@Model.Event.Description</h4>
<div>@Model.Event.StartDate - @Model.Event.EndDate</div>

<h3>@Model.Venue.Name</h3>
<div>
    <ul>
        <li>@Model.Venue.Description</li>
        <li>@Model.Venue.Address</li>
        <li>@Model.Venue.Phone</li>
        <li>@Model.Venue.Email</li>
    </ul>
</div>

<h4>@Model.EventCategory.Name, @Model.EventSubCategory.Name</h4>
<hr />

<h4>Sign up for this event:</h4>
@await Html.PartialAsync("RsvpPartial", Model.Rsvp)

@if (Model.UserLimitReached)
{
    <div>Sorry, the attendance limit on this event is reached.</div>
}
<hr />

<h4>Comments</h4>
@if (Model.Comments.Count() == 0)
{
    <p>There are no comments for this event.</p>
}
else
{
    @foreach (var comment in Model.Comments)
    {
        <p>
            <strong>@comment.FirstName @comment.LastName</strong>, @comment.DateCreated.Humanize(utcDate: false)<br />
            <i>@comment.Text</i>
        </p>
    }
}

<hr />
@await Html.PartialAsync("AddCommentPartial", Model.NewComment)

@{
    var base64 = Convert.ToBase64String(Model.Image.ImageFile);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<img src="@imgSrc" />