@using GeoLocation.Model;
@model EventDetailsViewModel

<h2>@Model.Event.Name</h2>
<h4>@Model.Event.Description</h4>
<div>@Model.Event.StartDate - @Model.Event.EndDate</div>

<h3>@Model.Venue.Name</h3>
<div>
    <ul>
        <li>@Model.Venue.Description</li>
        <li>@Model.Venue.Address</li>
        <li>@Model.Venue.Phone</li>
        <li>@Model.Venue.Email</li>
    </ul>
</div>

<h4>@Model.EventCategory.Name, @Model.EventSubCategory.Name</h4>
<hr />

<h4>Sign up for this event:</h4>
@await Html.PartialAsync("RsvpPartial", Model.Rsvp)

@if (Model.UserLimitReached)
{
    <div>Sorry, the attendance limit on this event is reached.</div>
}

